{% block content %}
        {% for part in queryset %}
            <p> {{ part.producer_name }}</p>
            <p> {{ part.part_name }}</p>
            {% for ca in part.car %}
                <p> {{ ca }} </p>
            {% endfor %}
            <p> {{ part.amount }}</p>
            <p> {{ part.price_netto }}</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" value="add_to_cart"> dodaj do koszyka </button>
        </form>
        <a href="./cart"> przejdz do koszyka</a>
{% endblock %}